<h2 id='title'>Paper Pikaday</h2>

{{paper-pikaday
	value=date
	class='flex-100'
	label='Paper Pikaday'
	onChange=(action (mut date))
}}

<br /> <br />

{{paper-pikaday
	value=date
	class='flex-100'
	label='Paper Pikaday'
	onChange=(action (mut date))
}}

{{outlet}}
