<h2 id='title'>Paper Pikaday</h2>

{{paper-pikaday
	value=date
	label='Paper Pikaday'
	class='layout-fill flex-50'
	onChange=(action (mut date))
}}

<br /> <br />

{{paper-pikaday
	value=date
	label='Paper Pikaday'
	class='layout-fill flex-50'
	yearRange='1900,currentYear'
	onChange=(action (mut date))
}}
